# --- Web Framework & Server ---
Flask
Flask-SocketIO
Flask-SQLAlchemy
gunicorn

# --- Database Connector ---
SQLAlchemy
psycopg2-binary

# --- Core AI / Machine Learning ---
tensorflow
# Menggunakan versi headless untuk server, lebih ringan dan aman
opencv-python-headless 
scikit-learn
deepface
ultralytics
nltk
h5py

# --- Data Handling & Utilities ---
numpy
pandas
Pillow
requests
beautifulsoup4

# --- NLP (Jika Digunakan) ---
Sastrawi
langdetect